@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-s {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flexai-st {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fd-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-fd-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-fd-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-fw-nw {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-fw-wr {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 0.938rem;
  font-family: inherit;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn--primary {
  background-color: #6fbe44;
  margin-right: 1em;
}

.btn--primary:hover {
  background-color: rgba(111, 190, 68, 0.8);
}

.btn--transparent {
  background-color: transparent;
  padding-left: 0;
}

.btn--transparent i {
  font-size: 2.5em;
  margin-right: 0.2em;
}

.btn--transparent:hover i {
  color: #6fbe44;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.navbar {
  background-color: #fff;
  padding: 1em 2em;
}

@media (min-width: 480px) {
  .navbar {
    padding: 1em 5em;
  }
}

.navbar__logo {
  width: 15em;
}

.navbar__logo h1 {
  text-transform: uppercase;
  letter-spacing: 6.5px;
  color: #6fbe44;
  font-size: 1.5rem;
  line-height: 1em;
}

.navbar__logo h1 span {
  color: #053220;
}

.navbar__logo small {
  color: #55636b;
  letter-spacing: 1.5px;
}

.navbar__menu {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__menu i {
  font-size: 2em;
}

.navbar__nav {
  width: 80%;
  display: none;
}

@media (min-width: 1024px) {
  .navbar__nav {
    display: block;
  }
}

.navbar__nav--close {
  display: block;
  position: absolute;
  top: 0.8em;
  right: 1em;
  cursor: pointer;
}

.navbar__nav--close i {
  font-size: 2em;
}

@media (min-width: 1024px) {
  .navbar__nav--close {
    display: none;
  }
}

.navbar__nav li {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.938rem;
}

.navbar__nav--search {
  color: #6fbe44;
  font-size: 1.5rem !important;
}

.navbar__nav--call {
  font-weight: 600;
}

.navbar__nav--call i {
  color: #fff;
  background-color: #6fbe44;
  border-radius: 50%;
  padding: 0.2em;
  font-size: 1.3em !important;
  margin-right: 0.5em;
}

.active {
  position: fixed;
  right: -280px;
  top: 0;
  height: 100vh;
  width: 280px;
  display: block;
  background-color: #141414;
  color: #fff;
  padding: 3em 2em;
  -webkit-animation: navanimation 0.4s ease-in-out forwards;
          animation: navanimation 0.4s ease-in-out forwards;
  z-index: 2;
}

@-webkit-keyframes navanimation {
  to {
    right: 0px;
  }
}

@keyframes navanimation {
  to {
    right: 0px;
  }
}

.active ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.active ul li {
  margin: 1em 0;
}

.fixed {
  position: fixed;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #f7f7f7;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-animation: fixHeader 1s ease;
          animation: fixHeader 1s ease;
  z-index: 11;
}

@-webkit-keyframes fixHeader {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fixHeader {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.hero {
  background-image: url("../../assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80vh;
  margin: 1em 2em;
  margin-bottom: 0;
}

@media (min-width: 480px) {
  .hero {
    margin: 1em 5em;
    margin-bottom: 0;
  }
}

.hero__overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  padding: 0 2em;
  color: #fff;
}

@media (min-width: 1024px) {
  .hero__overlay {
    width: 70%;
  }
}

@media (min-width: 1280px) {
  .hero__overlay {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .hero__overlay {
    padding: 0 5em;
  }
}

.hero__overlay--topic {
  text-transform: uppercase;
  font-size: 0.938rem;
  font-weight: 500;
  position: relative;
}

.hero__overlay--topic::before {
  content: "";
  width: 3em;
  height: 3px;
  background-color: #6fbe44;
  position: absolute;
  bottom: -0.2em;
}

.hero__overlay h1 {
  letter-spacing: 1.5px;
  line-height: 1.2em;
  font-size: 1.5rem;
  margin: 0.4em 0 1em 0;
}

@media (min-width: 768px) {
  .hero__overlay h1 {
    font-size: 2.5em;
  }
}

.hero__overlay--text {
  font-size: 0.813rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1.5em;
}

.hero__btn button {
  margin-top: 0.5em;
}

.hero__dots__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #55636b;
  margin: 1.5em 1em 0 0;
}

.hero__dots--active {
  background-color: #6fbe44;
}

.feature {
  margin: 0 2em;
  background-color: #141414;
  margin-bottom: 0;
  padding: 0.5em 0;
  color: #fff;
}

@media (min-width: 480px) {
  .feature {
    margin: 0 5em;
    margin-bottom: 0;
  }
}

.feature ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 1200px) {
  .feature ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .feature ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.feature li {
  list-style: none;
  padding: 0 1em;
  width: 100%;
}

@media (min-width: 768px) {
  .feature li {
    padding: 0 0em;
    width: auto;
  }
}

.feature li i {
  margin: 1em 0.5em;
}

@media (min-width: 480px) {
  .feature li i {
    margin: 1em;
  }
}

.find {
  margin: 0em 2em;
  background-color: #f7f7f7;
}

@media (min-width: 480px) {
  .find {
    margin: 0em 5em;
  }
}

.find__map {
  width: 100%;
  height: 400px;
  border: none;
  outline: none;
}

@media (min-width: 1024px) {
  .find__map {
    width: 50%;
  }
}

.find__search {
  width: 100%;
  padding: 3em 1.5em;
}

@media (min-width: 1024px) {
  .find__search {
    width: 50%;
    padding: 0 5em;
  }
}

@media (min-width: 7680px) {
  .find__search {
    padding: 3em 5em;
  }
}

.find__search h1 {
  letter-spacing: 1.5px;
  line-height: 1.2em;
  font-size: 1.5rem;
  margin: 0.4em 0 1em 0;
}

@media (min-width: 768px) {
  .find__search h1 {
    font-size: 2.5em;
  }
}

.find__search p {
  font-size: 0.813rem;
  color: #55636b;
  font-weight: 500;
  margin-bottom: 2.5em;
}

.find__search--bar {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.find__search--bar input {
  width: 88%;
  border: none;
  outline: none;
  font-family: inherit;
  padding: 0.8em;
}

.find__search--bar i {
  font-size: 0.938rem;
}

.find__search--locationIcon {
  padding: 0.8em;
  color: #55636b;
}

.find__search--searchIcon {
  background-color: #141414;
  height: 100%;
  width: 3em;
  color: #fff;
  text-align: center;
  padding: 0.8em;
}

.horticulture {
  margin: 0em 2em;
  padding: 3em 0;
}

@media (min-width: 480px) {
  .horticulture {
    margin: 0em 5em;
  }
}

.horticulture__link {
  margin-bottom: 1em;
  padding: 0 2.5em;
}

@media (min-width: 768px) {
  .horticulture__link {
    padding: 0 5.5em;
  }
}

.horticulture__link h1 {
  letter-spacing: 1.5px;
  line-height: 1.2em;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .horticulture__link h1 {
    font-size: 2.5em;
  }
}

.horticulture__link ul {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 700px) {
  .horticulture__link ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: auto;
  }
}

.horticulture__link__item {
  list-style: none;
  margin: 0.5em 0;
  margin-left: 0em;
  font-weight: 600;
  color: #55636b;
  cursor: pointer;
}

.horticulture__link__item--active {
  color: #6fbe44;
}

.horticulture__link__item:first-child {
  margin-left: 0;
}

@media (min-width: 700px) {
  .horticulture__link__item {
    margin: 0;
    margin-left: 1.5em;
  }
}

.horticulture__link__item--viticulture {
  color: #fff;
}

.horticulture__link__item--viticulture--active {
  color: #6fbe44;
}

.horticulture__carasoul {
  width: 100%;
}

.horticulture__carasoul--leftArrow {
  margin-left: 0.5em;
}

@media (min-width: 768px) {
  .horticulture__carasoul--leftArrow {
    margin-left: 2em;
  }
}

.horticulture__carasoul--rightArrow {
  margin-right: 0.5em;
}

@media (min-width: 768px) {
  .horticulture__carasoul--rightArrow {
    margin-right: 2em;
  }
}

.horticulture__carasoul--leftArrow, .horticulture__carasoul--rightArrow {
  display: none;
}

@media (min-width: 480px) {
  .horticulture__carasoul--leftArrow, .horticulture__carasoul--rightArrow {
    display: block;
  }
}

.horticulture__carasoul--leftArrow i, .horticulture__carasoul--rightArrow i {
  font-size: 1.25em;
  color: #fff;
  border-radius: 50%;
  padding: 0.4em 0.55em;
  text-align: center;
  background-color: #6fbe44;
  cursor: pointer;
}

.horticulture__carasoul__cardDiv {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.horticulture__carasoul__cardDiv::-webkit-scrollbar {
  display: none;
}

.horticulture__carasoul__card {
  max-width: 23em;
  min-width: 16.875em;
  margin: 0 1.5em;
  background-color: #f7f7f7;
  border: 1px solid #f1f1f1;
  border-radius: 0.5em;
  overflow: hidden;
}

.horticulture__carasoul__card--viticulture {
  border: none;
}

.horticulture__carasoul__card img {
  width: 100%;
}

.horticulture__carasoul__card--text {
  margin-top: 1em;
  padding: 1em 3em;
}

.horticulture__carasoul__card--text h4 {
  position: relative;
}

.horticulture__carasoul__card--text h4::before {
  content: "";
  width: 3em;
  height: 3px;
  background-color: #6fbe44;
  position: absolute;
  bottom: -0.5em;
}

.horticulture__carasoul__card--text p {
  margin: 2em 0;
  font-size: 0.813rem;
  color: #55636b;
}

.horticulture__carasoul__card--text a {
  margin-bottom: 0.5em;
  font-size: 0.813rem;
  color: #6fbe44;
  font-weight: 600;
}

.horticulture--viticulture {
  background-color: #141414;
}

.horticulture--viticulture h1 {
  color: #fff;
}

.featurePhotos {
  margin: 1em 2em;
  margin-bottom: 0;
}

@media (min-width: 480px) {
  .featurePhotos {
    margin: 1em 5em;
    margin-bottom: 0;
  }
}

.featurePhotos__content {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.featurePhotos__box {
  float: left;
  -webkit-transition: margin 1s ease;
  transition: margin 1s ease;
}

.featurePhotos__img {
  background-color: #fff;
  margin-bottom: 15px;
  width: 50%;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  float: left;
}

.featurePhotos__img--img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.featurePhotos__img--img img {
  width: 100%;
  height: 25em;
}

.slider {
  float: left;
  width: 100%;
  text-align: center;
}

.slider div {
  display: none;
}

.parts {
  margin: 1em 2em;
  margin-bottom: 0;
  background-color: #f7f7f7;
}

@media (min-width: 480px) {
  .parts {
    margin: 1em 5em;
    margin-bottom: 0;
  }
}

.parts img {
  width: 100%;
}

@media (min-width: 1024px) {
  .parts img {
    width: 40%;
  }
}

.parts__textBlock {
  width: 100%;
  padding: 3em 1.5em;
}

@media (min-width: 1024px) {
  .parts__textBlock {
    width: 60%;
    padding: 0 5em;
  }
}

@media (min-width: 7680px) {
  .parts__textBlock {
    padding: 3em 5em;
  }
}

.parts__textBlock h4 {
  text-transform: uppercase;
  font-size: 0.938rem;
  font-weight: 500;
  position: relative;
}

.parts__textBlock h4::before {
  content: "";
  width: 3em;
  height: 3px;
  background-color: #6fbe44;
  position: absolute;
  bottom: -0.3em;
}

.parts__textBlock h1 {
  letter-spacing: 1.5px;
  line-height: 1.3em;
  font-size: 1.5rem;
  margin: 0.5em 0;
}

@media (min-width: 768px) {
  .parts__textBlock h1 {
    font-size: 2.2em;
  }
}

.parts__textBlock p {
  font-size: 0.813rem;
  letter-spacing: 1px;
  margin-bottom: 2em;
}

.testimonial {
  margin: 1em 2em;
  padding: 3em 0;
  background-color: #141414;
}

@media (min-width: 480px) {
  .testimonial {
    margin: 1em 5em;
  }
}

.testimonial h1 {
  letter-spacing: 1.5px;
  line-height: 1.2em;
  font-size: 1.5rem;
  color: #fff;
}

@media (min-width: 768px) {
  .testimonial h1 {
    font-size: 2.5em;
  }
}

.testimonial__text {
  font-size: 0.813rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 1.5em 0 2em 0;
  color: #fff;
  padding: 0 1em;
  text-align: center;
}

.testimonial__box {
  width: 100%;
}

.testimonial__box__card {
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em;
}

.testimonial__box__card img {
  width: 100%;
}

@media (min-width: 1280px) {
  .testimonial__box__card img {
    width: 50%;
  }
}

.testimonial__userReview {
  width: 100%;
  padding: 1em;
}

@media (min-width: 1280px) {
  .testimonial__userReview {
    width: 50%;
  }
}

@media (min-width: 480px) {
  .testimonial__userReview {
    padding: 1em 3em;
  }
}

.testimonial__userReview__userInfo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .testimonial__userReview__userInfo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.testimonial__userReview__userInfo img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  margin-right: 2em;
}

.testimonial__userReview__userInfo--info {
  width: 100%;
}

@media (min-width: 768px) {
  .testimonial__userReview__userInfo--info {
    width: auto;
  }
}

.testimonial__userReview__userInfo--info h2 {
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .testimonial__userReview__userInfo--info h2 {
    text-align: start;
  }
}

.testimonial__userReview__userInfo--info p {
  color: #55636b;
  text-align: center;
}

@media (min-width: 768px) {
  .testimonial__userReview__userInfo--info p {
    text-align: start;
  }
}

.testimonial__userReview--text {
  font-size: 0.813rem;
  line-height: 2;
  letter-spacing: 0.6px;
  margin: 2em 0;
}
/*# sourceMappingURL=main.css.map */