// @import "./font";
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  font-family: $font;
  font-size: $normal-font-size;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
