.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: $normal-font-size;
  font-family: inherit;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;

  &--primary {
    background-color: $color-green;
    margin-right: 1em;

    &:hover {
      background-color: rgba($color-green, 0.8);
    }
  }
  &--transparent {
    background-color: transparent;
    padding-left: 0;
    i {
      font-size: 2.5em;
      margin-right: 0.2em;
    }
    &:hover i {
      color: $color-green;
    }
  }
}
