.featurePhotos {
  margin: 1em 2em;
  margin-bottom: 0;

  @media (min-width: 480px) {
    margin: 1em 5em;
    margin-bottom: 0;
  }

  &__content {
    position: relative;
    overflow: hidden;
    flex: 0 0 100%;
    max-width: 100%;
  }
  &__box {
    float: left;
    transition: margin 1s ease;
  }
  &__img {
    background-color: #fff;
    margin-bottom: 15px;
    width: 50%;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    float: left;

    &--img {
      flex: 0 0 100%;
      max-width: 100%;

      img {
        width: 100%;
        height: 25em;
      }
    }
  }
}

.slider {
  float: left;
  width: 100%;
  text-align: center;
}

.slider div {
  display: none;
}
