.feature {
  margin: 0 2em;
  background-color: $color-dark;
  margin-bottom: 0;
  padding: 0.5em 0;
  color: #fff;

  @media (min-width: 480px) {
    margin: 0 5em;
    margin-bottom: 0;
  }
  ul {
    justify-content: flex-start;
    @media (min-width: 1200px) {
      justify-content: center;
    }
    @media (min-width: 768px) {
      justify-content: space-evenly;
    }
  }

  li {
    list-style: none;
    padding: 0 1em;
    width: 100%;

    @media (min-width: 768px) {
      padding: 0 0em;
      width: auto;
    }

    i {
      margin: 1em 0.5em;

      @media (min-width: 480px) {
        margin: 1em;
      }
    }
  }
}
