.find {
  margin: 0em 2em;
  background-color: $color-light;

  @media (min-width: 480px) {
    margin: 0em 5em;
  }

  &__map {
    width: 100%;
    height: 400px;
    border: none;
    outline: none;

    @media (min-width: 1024px) {
      width: 50%;
    }
  }
  &__search {
    width: 100%;
    padding: 3em 1.5em;
    @media (min-width: 1024px) {
      width: 50%;
      padding: 0 5em;
    }
    @media (min-width: 7680px) {
      padding: 3em 5em;
    }

    h1 {
      letter-spacing: 1.5px;
      line-height: 1.2em;
      font-size: $big-font-size;
      margin: 0.4em 0 1em 0;

      @media (min-width: 768px) {
        font-size: 2.5em;
      }
    }
    p {
      font-size: $small-font-size;
      color: $color-dark-light;
      font-weight: 500;
      margin-bottom: 2.5em;
    }
    &--bar {
      background-color: #fff;
      border-radius: 4px;
      overflow: hidden;

      input {
        width: 88%;
        border: none;
        outline: none;
        font-family: inherit;
        padding: 0.8em;
      }
      i {
        font-size: $normal-font-size;
      }
    }
    &--locationIcon {
      padding: 0.8em;
      color: $color-dark-light;
    }
    &--searchIcon {
      background-color: $color-dark;
      height: 100%;
      width: 3em;
      color: #fff;
      text-align: center;
      padding: 0.8em;
    }
  }
}
