.flex {
  display: flex;

  &-jc-c {
    justify-content: center;
  }
  &-jc-fs {
    justify-content: flex-start;
  }
  &-jc-fe {
    justify-content: flex-end;
  }
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-sa {
    justify-content: space-around;
  }
  &-jc-se {
    justify-content: space-evenly;
  }
  &-ai-c {
    align-items: center;
  }
  &-ai-s {
    align-items: flex-start;
  }
  &-ai-fe {
    align-items: flex-end;
  }
  &ai-st {
    align-items: stretch;
  }
  &-fd-c {
    flex-direction: column;
  }
  &-fd-cr {
    flex-direction: column-reverse;
  }
  &-fd-r {
    flex-direction: row;
  }
  &-fd-rr {
    flex-direction: row-reverse;
  }
  &-fw-w {
    flex-wrap: wrap;
  }
  &-fw-nw {
    flex-wrap: nowrap;
  }
  &-fw-wr {
    flex-wrap: wrap-reverse;
  }
}
