.navbar {
  background-color: #fff;
  padding: 1em 2em;

  @media (min-width: 480px) {
    padding: 1em 5em;
  }

  &__logo {
    width: 15em;
    // @media (min-width: 1024px) {
    //   width: 17%;
    // }

    h1 {
      text-transform: uppercase;
      letter-spacing: 6.5px;
      color: $color-green;
      font-size: $big-font-size;
      line-height: 1em;

      span {
        color: $color-dark-green;
      }
    }
    small {
      color: $color-dark-light;
      letter-spacing: 1.5px;
    }
  }
  &__menu {
    cursor: pointer;
    @media (min-width: 1024px) {
      display: none;
    }
    i {
      font-size: 2em;
    }
  }
  &__nav {
    width: 80%;
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }

    &--close {
      display: block;
      position: absolute;
      top: 0.8em;
      right: 1em;
      cursor: pointer;
      i {
        font-size: 2em;
      }

      @media (min-width: 1024px) {
        display: none;
      }
    }

    li {
      list-style: none;
      text-transform: uppercase;
      font-size: $normal-font-size;
    }
    &--search {
      color: $color-green;
      font-size: $big-font-size !important;
    }
    &--call {
      i {
        color: #fff;
        background-color: $color-green;
        border-radius: 50%;
        padding: 0.2em;
        font-size: 1.3em !important;
        margin-right: 0.5em;
      }
      font-weight: 600;
    }
  }
}
.active {
  position: fixed;
  right: -280px;
  top: 0;
  height: 100vh;
  width: 280px;
  display: block;
  background-color: $color-dark;
  color: #fff;
  padding: 3em 2em;
  animation: navanimation 0.4s ease-in-out forwards;
  z-index: 2;

  @keyframes navanimation {
    to {
      right: 0px;
    }
  }
  ul {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    li {
      margin: 1em 0;
    }
  }
}
.fixed {
  position: fixed;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid $color-light;
  width: 100%;
  top: 0;
  left: 0;
  animation: fixHeader 1s ease;
  z-index: 11;
  @keyframes fixHeader {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }
}
