.hero {
  background-image: url("../../assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80vh;
  margin: 1em 2em;
  margin-bottom: 0;

  @media (min-width: 480px) {
    margin: 1em 5em;
    margin-bottom: 0;
  }

  &__overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100%;
    width: 100%;
    padding: 0 2em;
    color: #fff;

    @media (min-width: 1024px) {
      width: 70%;
    }
    @media (min-width: 1280px) {
      width: 50%;
    }
    @media (min-width: 768px) {
      padding: 0 5em;
    }

    &--topic {
      text-transform: uppercase;
      font-size: $normal-font-size;
      font-weight: 500;
      position: relative;

      &::before {
        content: "";
        width: 3em;
        height: 3px;
        background-color: $color-green;
        position: absolute;
        bottom: -0.2em;
      }
    }
    h1 {
      letter-spacing: 1.5px;
      line-height: 1.2em;
      font-size: $big-font-size;
      margin: 0.4em 0 1em 0;

      @media (min-width: 768px) {
        font-size: 2.5em;
      }
    }
    &--text {
      font-size: $small-font-size;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 1.5em;
    }
  }
  &__btn {
    button {
      margin-top: 0.5em;
    }
  }
  &__dots {
    &__dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color-dark-light;
      margin: 1.5em 1em 0 0;
    }
    &--active {
      background-color: $color-green;
    }
  }
}
