.horticulture {
  margin: 0em 2em;
  padding: 3em 0;
  @media (min-width: 480px) {
    margin: 0em 5em;
  }

  &__link {
    margin-bottom: 1em;
    padding: 0 2.5em;
    @media (min-width: 768px) {
      padding: 0 5.5em;
    }
    h1 {
      letter-spacing: 1.5px;
      line-height: 1.2em;
      font-size: $big-font-size;
      @media (min-width: 768px) {
        font-size: 2.5em;
      }
    }
    ul {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      @media (min-width: 700px) {
        flex-direction: row;
        align-items: flex-end;
        width: auto;
      }
    }

    &__item {
      list-style: none;
      margin: 0.5em 0;
      margin-left: 0em;
      font-weight: 600;
      color: $color-dark-light;
      cursor: pointer;

      &--active {
        color: $color-green;
      }
      &:first-child {
        margin-left: 0;
      }

      @media (min-width: 700px) {
        margin: 0;
        margin-left: 1.5em;
      }
      &--viticulture {
        color: #fff;
        &--active {
          color: $color-green;
        }
      }
    }
  }
  &__carasoul {
    width: 100%;
    &--leftArrow {
      margin-left: 0.5em;
      @media (min-width: 768px) {
        margin-left: 2em;
      }
    }
    &--rightArrow {
      margin-right: 0.5em;
      @media (min-width: 768px) {
        margin-right: 2em;
      }
    }
    &--leftArrow,
    &--rightArrow {
      display: none;
      @media (min-width: 480px) {
        display: block;
      }
      i {
        font-size: 1.25em;
        color: #fff;
        border-radius: 50%;
        padding: 0.4em 0.55em;
        text-align: center;
        background-color: $color-green;
        cursor: pointer;
      }
    }
    &__cardDiv {
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__card {
      max-width: 23em;
      min-width: 16.875em;
      margin: 0 1.5em;
      background-color: $color-light;
      border: 1px solid #f1f1f1;
      border-radius: 0.5em;
      overflow: hidden;

      &--viticulture {
        border: none;
      }
      img {
        width: 100%;
      }
      &--text {
        margin-top: 1em;
        padding: 1em 3em;

        h4 {
          position: relative;
          &::before {
            content: "";
            width: 3em;
            height: 3px;
            background-color: $color-green;
            position: absolute;
            bottom: -0.5em;
          }
        }
        p {
          margin: 2em 0;
          font-size: $small-font-size;
          color: $color-dark-light;
        }
        a {
          margin-bottom: 0.5em;
          font-size: $small-font-size;
          color: $color-green;
          font-weight: 600;
        }
      }
    }
  }

  &--viticulture {
    background-color: $color-dark;
    h1 {
      color: #fff;
    }
  }
}
