.parts {
  margin: 1em 2em;
  margin-bottom: 0;
  background-color: $color-light;

  @media (min-width: 480px) {
    margin: 1em 5em;
    margin-bottom: 0;
  }

  img {
    width: 100%;
    @media (min-width: 1024px) {
      width: 40%;
    }
  }
  &__textBlock {
    width: 100%;
    padding: 3em 1.5em;
    @media (min-width: 1024px) {
      width: 60%;
      padding: 0 5em;
    }
    @media (min-width: 7680px) {
      padding: 3em 5em;
    }
    h4 {
      text-transform: uppercase;
      font-size: $normal-font-size;
      font-weight: 500;
      position: relative;

      &::before {
        content: "";
        width: 3em;
        height: 3px;
        background-color: $color-green;
        position: absolute;
        bottom: -0.3em;
      }
    }
    h1 {
      letter-spacing: 1.5px;
      line-height: 1.3em;
      font-size: $big-font-size;
      margin: 0.5em 0;

      @media (min-width: 768px) {
        font-size: 2.2em;
      }
    }
    p {
      font-size: $small-font-size;
      letter-spacing: 1px;
      margin-bottom: 2em;
    }
  }
}
