.testimonial {
  margin: 1em 2em;
  padding: 3em 0;
  background-color: $color-dark;

  @media (min-width: 480px) {
    margin: 1em 5em;
  }
  h1 {
    letter-spacing: 1.5px;
    line-height: 1.2em;
    font-size: $big-font-size;
    color: #fff;

    @media (min-width: 768px) {
      font-size: 2.5em;
    }
  }
  &__text {
    font-size: $small-font-size;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 1.5em 0 2em 0;
    color: #fff;
    padding: 0 1em;
    text-align: center;
  }
  &__box {
    width: 100%;
    &__card {
      background-color: #fff;
      justify-content: space-between;
      margin: 1em;

      img {
        width: 100%;

        @media (min-width: 1280px) {
          width: 50%;
        }
      }
    }
  }
  &__userReview {
    width: 100%;
    padding: 1em;
    @media (min-width: 1280px) {
      width: 50%;
    }
    @media (min-width: 480px) {
      padding: 1em 3em;
    }
    &__userInfo {
      justify-content: center;
      @media (min-width: 768px) {
        justify-content: flex-start;
      }
      img {
        width: 6em;
        height: 6em;
        border-radius: 50%;
        margin-right: 2em;
      }
      &--info {
        width: 100%;
        @media (min-width: 768px) {
          width: auto;
        }
        h2 {
          font-size: $big-font-size;
          text-align: center;
          @media (min-width: 768px) {
            text-align: start;
          }
        }
        p {
          color: $color-dark-light;
          text-align: center;
          @media (min-width: 768px) {
            text-align: start;
          }
        }
      }
    }
    &--text {
      font-size: $small-font-size;
      line-height: 2;
      letter-spacing: 0.6px;
      margin: 2em 0;
    }
  }
}
